doctype html
html(lang="es")
    head

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= "Fotaza"
        link(rel="shortcut icon" type="image/x-icon" href="logo3.png" sizes="573x573")

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css")
        link(rel='stylesheet' href='/carrousel.css')  
        link(rel='stylesheet' href='/home.css')  
        link(rel='stylesheet' href='/nav.css')  
        link(rel='stylesheet' href='/sweetAlert.css')  

        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10")

        script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js")
        //grid
        script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-grid@0.4.1/dist/js/splide-extension-grid.min.js") 
        link(href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet")

        script(src="/socket.io/socket.io.js")
        script(src="/carrousel.js" defer)
        script(content-type="JavaScript" src="/sweetAlert.js" defer)
        script(content-type="JavaScript" src="/home.js" defer) 
        script(content-type="JavaScript" src="/nav.js" defer) 

    body

        header
            div.container.align-items-centercol-lg-12.col-md-12.col-sm-12.col-xs-12
                a#fotaza(href="/photo")
                    h1#fotaza Fotaza
                nav
                    div.close-icon
                        ion-icon#profile-icon(name="close")
                    a.active(href="/photo") home
                    a(href="/auth/logout") logout
                    a(href="/photo/view/almacenar") almacenar
                    a(href="/message/view/myMessages") mensajes
                    a(href="/message/view/myOffers") ofertas
                    a(href="/user/profile") perfil
                div.bar-icon
                    ion-icon#profile-icon(name="list")
                div.overlay

        section#image-carousel.splide(aria-label="Beautiful Images")
            .splide__track
                ul.splide__list
                    each photo in photosRating
                        li.splide__slide
                            a#top-target(href=`/photo/target-top/${photo.id}`)

                                if photo.privacy == "private" && req.session.isLoggedIn || photo.rightOfUse == "Copyleft" && req.session.isLoggedIn
                                    img(src=`/${photo.imageWatermark}` title=`${photo.category}`)
                                else if photo.privacy == "public" && !req.session.isLoggedIn
                                    img(src=`/${photo.imageWatermarkFotaza}` title=`${photo.category}`)
                                else if photo.privacy != "private" && req.session.isLoggedIn
                                    img(src=`/${photo.image}` title=`${photo.category}`)

        //menu para ordenar imagenes
        #contain-menu
            #cuadro-menu
                a#cerrar(onclick="cerrar()")
                    ion-icon(name="close" id="close")
            #cuadro-menu
                a(href="/photo/sort/fecha")
                    button#contact-btn Fecha de creación
            #cuadro-menu
                a(href="/photo/sort/public")
                    button#contact-btn Publicas
            #cuadro-menu
                a(href="/photo/sort/protected")
                    button#contact-btn Protegidas
            #cuadro-menu
                a(href="/photo/sort/private")
                    button#contact-btn Privadas
        div.contain-menu-overlay                    

        //menu para comparir imagenes
        div#contain-menu-share
            a#cerrar(onclick="cerrar()")
                ion-icon#close(name="close")
            form#cuadro-menu(action="/message/share" method="post")
                input(type="hidden" name="idPhoto" id="papa" value="")
                label(for="msg") Mensaje
                input#msg.form-control(type="text" name="msg")
                label(for="idReceptor") Destino
                select#idReceptor.form-control(name="idReceptor")
                    each user in users
                        option(value=user.id)= user.name
                button#contact-btn.my-4(class="btn btn-primary" type="submit") compartir       

        //caja donde estan todas las imagenes
        div#box-padre.row.justify-content-center.mx-2.my-5.px-3.col-lg-12.col-md-12.col-sm-12.col-xs-12

            details#options.row.col-lg-3.col-md-12.col-sm-12.col-xs-12.my-2.mx-4.p-4.animated
                summary  OPCIONES
                div#buttons-card.justify-content-center.my-2.p-4
                    div.row
                        button#btn
                            a#button_top.col-lg-12.col-md-12.col-sm-12.col-xs-12(href="/photo/view/almacenar") Almacenar
                    div.row
                        button#btn
                            a#button_top.col-lg-12.col-md-12.col-sm-12.col-xs-12(onclick="abrirMenu()") Ordenar
                    div.row
                        button#btn
                            a#button_top.col-lg-12.col-md-12.col-sm-12.col-xs-12(href="/message/view/myMessages") Mis mensajes
                    div.row
                        button#btn
                            a#button_top.col-lg-12.col-md-12.col-sm-12.col-xs-12(href="/message/view/myOffers") Mis ofertas

            div#box-cards.col-lg-8.col-md-12.col-sm-12.col-xs-12.my-2.p-3.animated
                div#box-buscar.row.col-lg-10.col-md-10.col-sm-10.col-xs-10
                    if !req.session.isLoggedIn
                        form.form(action="/unauthenticated/buscar" method="post")
                            button
                                svg(width="17" alt="Buscar imagen" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search")
                                    path(d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round")
                            input.input(placeholder="buscador" name="buscar" type="text" autocomplete="off")
                            button.reset(type="reset")
                                svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2")
                                    path(stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12")        
                    else
                        form.form(action="/photo/buscar" method="post")
                            button
                                svg(width="17" alt="Buscar imagen" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search")
                                    path(d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round")
                            input.input(placeholder="buscador" name="buscar" type="text" autocomplete="off")
                            button.reset(type="reset")
                                svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2")
                                    path(stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12")

                div#box-add.row.justify-content-end.col-lg-2.col-md-2.col-sm-2.col-xs-2
                    div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        button.icon-btn.add-btn
                            div.add-icon
                            div.btn-txt
                                a(href="/photo/view/almacenar" style="text-decoration:none; color:black;") Add

                if photos.length 
                    each photo in photos

                        div#contain-card.col-lg-12.col-md-12.col-sm-12.col-xs-12.my-2.p-4
                            // Imagen de perfil del usuario que publicó la foto
                            div#img-profile.col-lg-12.col-md-12.col-sm-12.col-xs-12.my-0
                                img(src=`/${photo.User.profileImage}` title=`${photo.User.name}`)

                            // Nombre del usuario que publicó la foto
                            div#category-card.col-lg-12.col-md-12.col-sm-12.col-xs-12.my-0
                                i #{photo.User.name + " " + photo.User.surname}

                            // Contenedor de la foto y su información
                            div.row.justify-content-center.my-2.mx-0.col-lg-12.col-md-12.col-sm-12.col-xs-12.p-0
                                div#photo-card
                                    // Mostrar la imagen de la foto dependiendo de su privacidad y si el usuario ha iniciado sesión
                                    if photo.privacy == "private" || photo.rightOfUse == "Copyleft"
                                        img(src=`/${photo.imageWatermark}` title=`${photo.category}`)

                                    else if photo.privacy == "public" && !req.session.isLoggedIn
                                        img(src=`/${photo.imageWatermarkFotaza}` title=`${photo.category}`)

                                    else if photo.privacy != "private" && req.session.isLoggedIn
                                        img(src=`/${photo.image}` title=`${photo.category}`)


                            // Categoría de la foto
                            div#name-card.col-lg-8.col-md-8.col-sm-8.col-xs-12
                                i=photo.category

                            // Fecha de creación de la foto
                            div#date-card.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                i=photo.creationDate

                            // Sección para valorar la foto con estrellas
                            div#stars-card.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                div.ec-stars-wrapper
                                    a(href=`/photo/rating/${photo.id}/1` data-value="1" title="Votar con 1 estrellas") ★
                                    a(href=`/photo/rating/${photo.id}/2` data-value="2" title="Votar con 2 estrellas") ★
                                    a(href=`/photo/rating/${photo.id}/3` data-value="3" title="Votar con 3 estrellas") ★
                                    a(href=`/photo/rating/${photo.id}/4` data-value="4" title="Votar con 4 estrellas") ★
                                    a(href=`/photo/rating/${photo.id}/5` data-value="5" title="Votar con 5 estrellas") ★

                            // Promedio de valoración de la foto
                            div#feedback-card.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                p Promedio valoracion:
                                    i #{photo.numberOfStars}

                            // Etiquetas de la foto
                            div#feedback-card.col-lg-12.col-md-12.col-sm-12.col-xs-12.my-2
                                details
                                    summary Etiquetas
                                    each label in labels
                                        if label.idPhoto == photo.id
                                            p=label.keyword

                            if photo.privacy == "private"
                                div( id="feedback-card" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-2")
                                    a(id="abrirComments" onclick=`sendBuyMSG(${photo.id},${photo.idOwner})`) contactar autor

                            div( id="feedback-card" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-2")
                                a(id="abrirComments" href=`/comment/view/${photo.id}`) comentarios

                            div( id="feedback-card" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-3")
                                button(id="compartir-btn" onclick=`abrirMenuShare(${photo.id})` class="col-lg-2 col-md-2 col-sm-4 col-xs-6 my-1")
                                    div(class="svg-wrapper-1")
                                        div(class="svg-wrapper")
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24")
                                                path(fill="none" d="M0 0h24v24H0z")
                                                path(fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z")
                                    span Share 

                else 
                    div.error.col-lg-12.col-md-12.col-sm-12.col-xs-12.my-2.justify-content-center.align-items-center
                        div.error2.d-flex.flex-column.justify-content-center.align-items-center
                            p No se encontro ninguna imagen

        //decoracion sin sentido
        div#datos.row.justify-content-center.col-lg-12.col-md-12.col-sm-12.col-xs-12.py-5

            div#footer.row.justify-content-center.col-lg-11.col-md-11.col-sm-11.col-xs-11.my-5.p-5

                div#card-move.col-lg-11.col-md-11.col-sm-11.col-xs-12.my-5
                    div
                div#card.col-lg-3.col-md-11.col-sm-11.col-xs-4.m-5
                div#card.col-lg-3.col-md-11.col-sm-11.col-xs-4.m-5
                div#card.col-lg-3.col-md-11.col-sm-11.col-xs-4.m-5

        //cambiar a fotos menos pesadas para que cargue mas rapido
        if photos.length > 0
            div#contain-main-slider.col-lg-12.col-md-12.col-sm-12.col-xs-12.py-5
                section#main-slider.splide(aria-label="My Awesome Gallery")
                    div.splide__track
                        ul.splide__list
                            each photo in photos 
                                li.splide__slide
                                    if photo.privacy == "private" || photo.rightOfUse == "Copyleft"
                                        img(src=`/${photo.imageWatermark}` title=`${photo.category}`)
                                    else if photo.privacy == "public" && !req.session.isLoggedIn
                                        img(src=`/${photo.imageWatermarkFotaza}` title=`${photo.category}`)
                                    else if photo.privacy != "private" && req.session.isLoggedIn
                                        img(src=`/${photo.image}` title=`${photo.category}`)   



                ul#thumbnails.thumbnails
                    each photo in photos 
                        li.thumbnail           
                            if photo.privacy == "private" || photo.rightOfUse == "Copyleft"
                                img(src=`/${photo.imageWatermark}` title=`${photo.category}`)
                            else if photo.privacy == "public" && !req.session.isLoggedIn
                                img(src=`/${photo.imageWatermarkFotaza}` title=`${photo.category}`)
                            else if photo.privacy != "private" && req.session.isLoggedIn
                                img(src=`/${photo.image}` title=`${photo.category}`)   










