doctype html
html
    head

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= "Fotaza"
        link(rel="shortcut icon" type="image/x-icon" href="/logo3.png" sizes="573x573")

        link(rel="stylesheet" href="/profile.css")
        link(rel="stylesheet" href="/nav.css")

        script(content-type="JavaScript" src="/nav.js" defer) 

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css")

        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
    body 

        header
            div.container.align-items-centercol-lg-12.col-md-12.col-sm-12.col-xs-12
                a#fotaza(href="/photo")
                    h1#fotaza Fotaza
                nav
                    div.close-icon
                        ion-icon#profile-icon(name="close")
                    a(href="/photo") home
                    a(href="/auth/logout") logout
                    a(href="/photo/view/almacenar") almacenar
                    a(href="/message/view/myMessages") mensajes
                    a(href="/message/view/myOffers") ofertas
                    a.active(href="/user/profile") mi perfil
                    a#cerrar-comments(href="/photo") 
                        ion-icon#icon-cerrar-comment(name="close")
                div.bar-icon
                    ion-icon#profile-icon(name="list")
                div.overlay


        div#contain-datos.col-lg-12.col-md-12.col-sm-12.col-xs-12.p-4
            div#img-profile.d-flex.justify-content-center.col-lg-2.col-md-2.col-sm-4.col-xs-4.mx-4
                img(src=`/${users[0].profileImage}`)

            div   
                p= `${users[0].name} ${users[0].surname}`

            div 
                p intereses: #{users[0].interests}    

        div#contain-cards.row.justify-content-center.col-lg-12.col-md-12.col-sm-12.col-xs-12.my-5.mx-0.p-1
            each photo in photos 
                div#card-img.row.justify-content-center.col-lg-3.col-md-5.col-sm-10.col-xs-10.my-2.mx-5
                    img(src=`/${photo.image}`)

                    p.my-4 #{photo.category}    
                    i.mx-4.my-4 ~
                    p.my-4=photo.creationDate 

                    div#delete-photo.col-lg-10.col-md-10.col-sm-10.col-xs-10  
                        a#abrirComments(href=`/comment/view/${photo.id}`)  comentarios

                    div#delete-photo.col-lg-10.col-md-10.col-sm-10.col-xs-10  
                        details 
                            summary 
                                ion-icon#details(name="chevron-down-sharp")
                            a(href=`/photo/delete/${photo.id}`)
                                ion-icon#delete(name="trash")
